:root {
    --primary: #3C444D;
    --light: #ffffff;
    --grey: #efefef;
}
 html {
    position: relative;
    min-height: 100%; } 

body {
    /* background: #456; */
     padding-bottom: 40px; 
     overflow-x: hidden;
     
} 
    /* font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary); */
#content {
      overflow-y:auto;
      height: 100vh; 
      
      padding-bottom: 4rem;
}

a:hover {
  text-decoration: none;
}

div h3,h6 {
  margin-left: auto;
  margin-right: auto;
}

h6 {
   font-family :Arial, Helvetica, sans-serif !important
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color:#252e31;
    color:white;
    /* color:darkslategrey; */

    border: 0;
}

 #sidebar-container  h2 {
    color:  #003040;
} 
#sidebar-container  h4 {
  color: var(--light);
}
#sidebar-container .logo h4{
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  justify-items: self-end;
}

 /* #sidebar-container .menu {
    width: 10rem;
}   */



.avatar {
    max-width: 35px;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/*table data size changed*/
#tabladatos 
{
    padding:1px !important;
    font-size: 10px !important;
}

#wrapper {
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%; 
}
    
.content-page {
    /* margin-left: 240px;  */
    overflow: hidden;
    /* padding: 0 15px 5px 15px;  */
    min-height: 80vh; 
    /* margin-top: 70px;   */
} 
    

#Tipo.selectpicker {
   display: inline-block;
   text-align: left;
   background: transparent;
   border-color: #cecece;
   font-size: 14px;
   height: 30px;
   width: 100px;
   padding: 0;
   padding-top: 0;
   padding-bottom: 3;
   padding-left:6 ;
   padding-right: 0;
   overflow: hidden;
}

#PickerFecIni, #PickerFecFin {
 width: 80px; 
 font-size: 14px;
}

#BtnUpdate {
  margin-left: 10px !important;
  width: 60px; 
  border: 1px solid #777;
  padding : 0;
  font: 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);  
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  border-radius: .2em;
/*
  font-size:16px;
  line-height: 38px;
  letter-spacing: -0.044em;
  font-weight: 200;
  font-style: normal;
*/
}
select:focus{ outline: none;}

#BtnUpdate:hover {
  background-color: RoyalBlue;
}


#myTable {
 font-family: 'Noto Sans', sans-serif;
 margin: 0, auto;
 font-size:11px;
 /* display: block; */
 /* box-sizing: border-box; */
 /* border-collapse: collapse; */
 cursor: pointer;
 overflow: auto;
}


#myTable > tbody td {
  /*text-align: center;*/
  background: #FFFFFF;
}
#myTable > tbody tr.odd td { 
  background: #d6fcfd;
}

#myTable thead th,
#myTable tfoot th {
  text-align: right;
}
#myTable thead th,
#myTable thead td {
  padding: 10px 18px 10px 5px;
  border-right: 1px solid #dddddd;
}
#myTable tbody th,
#myTable tbody td  {
  padding: 10px 18px 10px 5px;
  border-right: 1px solid #dddddd;
}
#divTit1,
#divTit2 {
  /* position:absolute; */
  text-align:center;
  margin: -25px 0 0 -31px; 
}
#divTit1 h6 {
  /* margin:auto; */
  line-height:50px; 
  vertical-align:middle;
  margin: 20px 5px 5px 5px;
  font-size: 12px;
}
thead, th {text-align: center;}
tbody, tr {font-size: 12px;}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
  background-color: #6E7276;
}

table#myTable.dataTable tbody tr:hover {
  background-color: #6E7276;
}

table#myTable.dataTable tbody tr:hover > .sorting_1 {
  background-color: #6E7276;
}


.openbtn {
  cursor:pointer;
  border:none;
}

.chart-container {
  
  justify-content: center;
  /* padding: 48px 16px 16px 16px; */
  padding-block: 10px;
}


#chartCanvas {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.tChart {
  font-size: 10px;
  border-style: none;
  padding-inline: 5px;
  margin: 10;
  right: 0;
  padding: 5px;
  font-weight:Light;

}

/*
#chartReport {
  position: relative;
  margin: auto;
  height: 85vh;
  width: 70vw;
  }
*/

.form-control {
  
  vertical-align:baseline !important;
  padding: 0  !important;
  font-size: 1.2rem !important;
  margin-bottom:0px  !important;
}

#firstDropDownTree {
  font-size: 1.5rem !important;
  line-height: 1.3 !important;
  letter-spacing: 0.052em !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

#firstDropDownTree  {
  display:inline-flex
  
}

#tit0, #tit1, #tit2 {
  font-size: 20px;margin-top: 10px !important; 
  border-bottom-width: 10px !important; ;
  margin-bottom: 5px !important; 
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
  text-align: center !important; 
}

#num0, #num1, #num2 {
  font-size:20px !important;
  color: rgb(95, 95, 95) !important;
  text-align: center !important; 
}

#porc0, #porc1, #porc2  {
  display: block;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
  height: 20px;
  font-size:small;
  margin-left: 10px;
  
  color: white !important;
  text-align: center !important;  
  margin-top: 5px;
  text-align:center; 
  border-radius: 16px;
}

#reportrange {
  background: #fff; 
  cursor: pointer; 
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  width: 100%;
}
input, label {
  display:block;
}
label {
  font-size: 10px;
}

.container-sel {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 200px; */
}

@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}

/* @media (max-width: 551px) {
  #Chart-Container {height:800px;}

} */

@media (min-width: 550px) {
  #Chart-Container {height:500px;}

}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .login-button {
    margin-bottom:10px;
  }
}


.modal .modal-content { 
  padding: 20px 20px 20px 20px; 
  -webkit-animation-name: modal-animation; 
  -webkit-animation-duration: 0.5s; 
  animation-name: modal-animation; 
  animation-duration: 0.5s; 
} 

#div.modal-content {
  @media (min-width:60em){
    height:75%;
    margin:5% auto;
    max-width:66em;
    width:85%;
  }
} 

@-webkit-keyframes modal-animation { 
  from { 
      top: -100px; 
      opacity: 0; 
  } 
  to { 
      top: 0px; 
      opacity: 1; 
  } 
} 

@keyframes modal-animation { 
  from { 
      top: -100px; 
      opacity: 0; 
  } 
  to { 
      top: 0px; 
      opacity: 1; 
  } 
}  


.tree {
  font-size: 12px;
}

.list-group-item {
  padding: 5px !important;
  width: 320px;
}

.modal-header h5 {
  font-weight: bold;
  font-size:20px;
}

.modal-footer button {
  font-size:12px;
  color:var(--primary)
}

.tree {
  font-size: 12px;
}

.list-group-item {
  padding: 0 !important;
}

.iconify {
  background: url('https://api.iconify.design/ion:filter-outline.svg') no-repeat center center / contain;
}

#Cerrar.close {
  background-color :darkslategrey;
  color:white;
  font-size: 14px;
  padding: 8px 10px;
  right: 0;
  text-align: center;
  text-decoration: none;
  top:0;
  z-index: 1;
}


button.btn-modal {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border: 2px solid #60614c;
    border-radius: 13px;
    background: #7c9f94;
    background: -webkit-gradient(linear, left top, left bottom, from(#7c9f94), to(#4c625b));
    background: -moz-linear-gradient(top, #7c9f94, #4c625b);
    background: linear-gradient(to bottom, #7c9f94, #4c625b);
    font: normal normal 12px verdana;
    color: #ffffff;
    text-decoration: none;
}
button.btn-modal:hover,
button.btn-modal:focus {
    border: 2px solid #9a9b7a;
    background: #95bfb2;
    background: -webkit-gradient(linear, left top, left bottom, from(#95bfb2), to(#5b766d));
    background: -moz-linear-gradient(top, #95bfb2, #5b766d);
    background: linear-gradient(to bottom, #95bfb2, #5b766d);
    color: #ffffff;
    text-decoration: none;
}
button.btn-modal:active {
    background: #4c625b;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c625b), to(#4c625b));
    background: -moz-linear-gradient(top, #4c625b, #4c625b);
    background: linear-gradient(to bottom, #4c625b, #4c625b);
}
button.btn-modal:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 20px;
    line-height: 24px;
    margin: 0 4px -4px -4px;
    position: relative;
    top: 0px;
    left: 2px;
}
@media all and (max-width:30em){
   button.btn-modal{
      display: block;
      margin:0.4em auto;
    }     
}


.container {        
  
  align-items: center;
}
.multiselect.dropdown-toggle {
  padding-left:20px;
  font-size:12px;
  height: 27.5px;
} 

.multiselect-selected.-text {
  font-size:12px;
}

.enlarged .content-page {
  margin-left: 70px !important; }

.enlarged .footer {
  left: 70px !important; }

.enlarged .user-box {
  display: none; }

body.enlarged {
  min-height: 1200px; }

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
    padding-bottom: 80px; }
  .left-side-menu {
    display: none;
    z-index: 10 !important; }
  .sidebar-enable .left-side-menu {
    display: block; }
  .content-page, .enlarged .content-page {
    margin-left: 0 !important;
    padding: 0 10px; }
  .pro-user-name {
    display: none; }
  .logo-box {
    display: none; } }

  .footer {
    bottom: 0;
    padding: 19px 15px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 240px;
    background-color: #f1f2f5; 
  }
  .footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s; 
  }
  .footer .footer-links a:hover {
      color: #323a46; 
  }

  .footer .footer-links a:first-of-type {
      margin-left: 0; 
  }
    
  .footer-alt {
    left: 0 !important;
    text-align: center;
    background-color: transparent; 
  }
  
  @media (max-width: 767.98px) {
    .footer {
      left: 0 !important;
      text-align: center; } 
  }
  
  body.boxed-layout .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px); }
  
  body.boxed-layout.enlarged .footer {
    max-width: calc(1300px - 70px); }
  
  .width-xs {
    min-width: 80px; }
  
  .width-sm {
    min-width: 100px; }
  
  .width-md {
    min-width: 120px; }
  
  .width-lg {
    min-width: 140px; }
  
  .width-xl {
    min-width: 160px; }
    